
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #222;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons a {
    text-decoration: none;
    color: white;
    background-color: #444;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 4px;
    font-size: 14px;
}

    .nav-buttons a:hover {
        background-color: #666;
    }

main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
}


section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}


h1, h2, h3 {
    margin-bottom: 15px;
}


.photo {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 15px;
}


ul {
    margin-left: 20px;
    margin-top: 10px;
}


input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}


button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #555;
    }


footer {
    text-align: center;
    padding: 15px;
    color: #777;
    font-size: 14px;
}
